.App-header {
    background-color: #586683;
    min-height: calc(20px + 5vmin);
    display: flex;
    flex-direction: row;
    color: white;
}

.link {
    text-decoration: none;
    display: flex;
    margin: calc(5px + 1vmin);
    font-size: calc(10px + 2vmin);
}