.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 256px));
    grid-gap: 16px;
}

.image-256 {
    max-width: 95%;
    max-height: 95%;
    width: auto;
    height: auto;
    object-fit: scale-down;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    height: 256px;
    width: 256px;
}

.image-wrapper:hover {
    background-color: #ccc;
}

.long-textarea {
    width: 80vw;
    max-width: 650px;
    padding: 5px;
}

.go-button {
    width: calc(80vw + 14px);
    border-radius: 5px;
    max-width: 664px;
    /*650px + 5 + 5 + 2 + 2 (the body + padding + border of the long text area)*/
}

.sending-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.check {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 46px;
}

.cross {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 46px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.page-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    width: 250px;
}

.page-control button {
    border-radius: 5px;
    margin: 0 1px;
    width: 15%;
}

.page-control input {
    border-radius: 5px;
    margin: 0 1px;
    width: 15%;
    text-align: center;
}

.nb-label {
    display: inline-block;
    padding: 5px 10px;
    background-color: #fffaa0;
    color: black;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.nb-label .warning-icon {
    display: inline-block;
    margin-right: 5px;
    color: #ff9900;
}

.nb-label .warning-icon::before {
    content: "\26A0";
    font-size: 1.2em;
}