.settings-body {
    width: 50%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 20px;
    background-color: #fff;
}

.settings-field {
    display: flex;
    align-items: center;
}

.settings-field h2 {
    flex-basis: max(6vw, 150px);
    margin: 6px 0px;
}

.settings-field input {
    font-size: 18px;
}

.settings-field label {
    cursor: pointer;
    margin-left: 10px;
}

.button-div {
    width: 10%;
    min-width: 250px;
    margin: 10px auto;
}

.button-div button {
    background-color: transparent;
    color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 200px;
    margin: 5px auto;
    padding: 10px;
}

.button-div button:hover {
    background-color: #efefef96;
}

.button-div input {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
}