.settings-body {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 20px;
    background-color: #fff;
}

.settings-field {
    display: flex;
    align-items: center;
}

.settings-field h2 {
    flex-basis: max(6vw, 150px);
    margin-bottom: 6px;
    margin-top: 6px;
}

.settings-field input {
    font-size: 18px;
}

.settings-field label[role="img"] {
    cursor: pointer;
    margin-left: 10px;
}