.settings-body {
    margin: 20px 10vw;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 20px;
    background-color: #fff;
}

.settings-field {
    display: flex;
    align-items: center;
}

.settings-field h2 {
    flex-basis: max(6vw, 150px);
    margin: 6px 0px;
}

.settings-field input {
    font-size: 18px;
}

.settings-field label {
    cursor: pointer;
    margin-left: 10px;
}

.progress-bar-background {
    margin-top: 6px;
    width: 50vw;
    background-color: #eee;
    border-radius: 4px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.progress-bar-fill {
    border-radius: 4px;
    height: 20px;
    transition: width 0.3s ease;
    position: absolute;
    left: 0;
    z-index: 0;
}

.progress-bar-text {
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    font-size: 15px;
    z-index: 1;
}